$md-moondark: (
  50: #f0f0f1,
  100: #d9dadb,
  200: #bfc2c3,
  300: #a5a9ab,
  400: #929699,
  500: #7f8487,
  600: #777c7f,
  700: #6c7174,
  800: #62676a,
  900: #4f5457,
  A100: #c3e6fa,
  A200: #93d2f7,
  A400: #58c1ff,
  A700: #3fb7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
