$md-oceanblack: (
  50: #e3e0e7,
  100: #b9b3c4,
  200: #8b809d,
  300: #5c4d76,
  400: #392658,
  500: #16003b,
  600: #130035,
  700: #10002d,
  800: #0c0026,
  900: #060019,
  A100: #6758ff,
  A200: #3825ff,
  A400: #1600f1,
  A700: #1400d7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
