$md-pink: (
  50: #fee8f2,
  100: #fdc5df,
  200: #fb9ec9,
  300: #f977b3,
  400: #f85aa3,
  500: #f73d93,
  600: #f6378b,
  700: #f52f80,
  800: #f32776,
  900: #f11a64,
  A100: #ffffff,
  A200: #fff1f5,
  A400: #ffbed2,
  A700: #ffa4c0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
