$md-skyblack: (
  50: #e8e8e8,
  100: #c6c5c6,
  200: #a09fa1,
  300: #7a797b,
  400: #5e5c5e,
  500: #413f42,
  600: #3b393c,
  700: #323133,
  800: #2a292b,
  900: #1c1b1d,
  A100: #b372f5,
  A200: #9a43f1,
  A400: #8002ff,
  A700: #7400e7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
