@font-face {
    font-family: 'Ubuntu-regular';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-light';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-bold';
    src: url('../assets/fonts/Ubuntu/Ubuntu-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-medium';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}