// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import './palletes/moon.scss';
@import './palletes/ocean.scss';
@import './palletes/pink.scss';
@import './palletes/sky.scss';
@import './fonts.scss';
@include mat.core();
$briefcase-primary: mat.define-palette($md-pink);
$briefcase-accent: mat.define-palette($md-oceanblack, A200, A100, A400);
$briefcase-warn: mat.define-palette($md-moondark);
$briefcase-theme: mat.define-dark-theme( ( color: ( primary: $briefcase-primary, accent: $briefcase-accent, warn: $briefcase-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($briefcase-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.title {
    font-family: "Ubunto-medium";
    font-size: 30px;
}

.subtitle {
    font-family: "Ubunto-medium";
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.default-color,
.unselected {
    color: white;
}

a,
span,
p,
div {
    font-family: "ubuntu-regular";
    text-decoration: none;
}

.selected {
    color: mat.get-color-from-palette($briefcase-primary, 800) !important;
}

.primary-color {
    color: mat.get-color-from-palette($briefcase-primary, 500) !important;
}

.primary-border-color {
    border-color: mat.get-color-from-palette($briefcase-primary, 500) !important;
}

.primary-background-color {
    background-color: mat.get-color-from-palette($briefcase-primary, 500) !important;
}

.accent-color {
    color: mat.get-color-from-palette($briefcase-accent, 500) !important;
}

.accent-border-color {
    border-color: mat.get-color-from-palette($briefcase-accent, 500) !important;
}

.accent-background-color {
    background-color: mat.get-color-from-palette($briefcase-accent, 500) !important;
}

.warn-color {
    color: mat.get-color-from-palette($briefcase-warn, 500) !important;
}

.warn-border-color {
    border-color: mat.get-color-from-palette($briefcase-warn, 500) !important;
}

.warn-background-color {
    background-color: mat.get-color-from-palette($briefcase-warn, 500) !important;
}

.header-container {
    background-color: mat.get-color-from-palette($briefcase-accent, 900) !important;
    opacity: 0.9;
}

.content-container {
    background-color: mat.get-color-from-palette($briefcase-accent, 800) !important;
}